fastapi
uvicorn[standard]
pydantic
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-huggingface
langchain-google-genai
sentence-transformers
tqdm
python-dotenv
huggingface-hub
transformers
faiss-cpu
requests
